/*
    nine.js CSS
*/

/* Helper Classes */
:root {
    /**/
    --green: #4cd964;
    --green-shade: #2cd048;
    --green-tint: #6ee081;
    /**/
    --olive: #808000;
    --olive-shade: #575700;
    --olive-tint: #9e9e00;
    /**/
    --marine-off: #4D8EA8;
    --teal-off: #2A9D8F;
    --lime-off: #6EE081;
    --olive: #808000;
    --olive-shadow: #575700;
    --yellow: #E9C46A;
    --orange: #F4A261;
    --red: #E76F51;
    --white: #ffffff;
    --nearblack: #202020;
    --black: #000000;
    --grey: #808080;
    --darkgrey: #a9a9a9;
    --slategrey: #708090;
    --70grey:#4d4d4d;
    --shadow: rgba(0,0,0,0.3);
    --whiteshadow: rgba(255,255,255,0.2);
    /**/
    --fontsize-large: 3vh;
    --fontsize-medium: 2.5vh;
    --fontsize-small: 2vh;
    --fontsize-exsmall: 1.75vh;
    /* --fontfamily: monospace; */
    --fontfamily: 'IBM Plex Sans';
}
.color-theme {
    --nine-color: var(--olive);
    --nine-color-shade: var(--olive-shade);
    --nine-color-tint: var(--olive-tint);
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}
.color-blue {
    --nine-color: #2196f3;
    --nine-color-shade: #0c82df;
    --nine-color-tint: #48a8f5;
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}
.color-yellow {
    --nine-color: #ffcc00;
    --nine-color-shade: #d6ab00;
    --nine-color-tint: #ffd429;
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}
.color-green {
    --nine-color: var(--green);
    --nine-color-shade: var(--green-shade);
    --nine-color-tint: var(--green-tint);
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}
.color-red {
    --nine-color: #ff3b30;
    --nine-color-shade: #ff1407;
    --nine-color-tint: #ff6259;
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}
.color-teal {
    --nine-color: #009688;
    --nine-color-shade: #006d63;
    --nine-color-tint: #00bfad;
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}
.color-gray {
    --nine-color: #8e8e93;
    --nine-color-shade: #79797f;
    --nine-color-tint: #a3a3a7;
    --nine-color-font: #ffffff;
    --nine-color-panel: #4d4d4d;
    --nine-color-shadow: rgba(0,0,0,0.3);
    --nine-color-lumin: rgba(255,255,255,0.2);
}

:root {
    --nine-bgColor: var(--70grey);
    --nine-fontColor: var(--white);
    --nine-lineHeight: 7vh;
    --nine-lineHeight-small: 3vh;
    /**/
    --nine-list-bgColor: var(--whiteshadow);
    --nine-list-borderColor: var(--black);
    /**/
    --nine-panel-bgColor:var(--grey);
    /**/
    --nine-button-bgColor: var(--green);
    --nine-button-fontColor: var(--white);
    --nine-button-borderColor: var(--green-shade);
    --nine-button-clickColor: var(--green);
    /**/
    --nine-nav-head-fontColor:var(--white);
    --nine-nav-foot-fontColor:var(--white);
    --nine-nav-ctl: var(--grey);
    --nine-nav-head: var(--green3);
    --nine-nav-body: var(--nine-bgColor);
    --nine-nav-foot: var(--green3);
    --nine-nav-fontSize: var(--fontsize-large);
    --nine-nav-footer-fontSize: var(--fontsize-small);
    --nine-nav-scroll-shadow: rgba(0,0,0,0.1);
    --nine-nav-scroll-bg: var(--darkgrey);
    --nine-nav-scroll-outline: var(--slategrey);
    /**/
    --nine-banner-fontSize: var(--fontsize-medium);
    /**/
    --nine-panel-bg: var(--shadow);
    /**/
    --nine-accordion-fontSize: var(--fontsize-medium);
    --nine-accordion-titleAfter-fontSize: var(--fontsize-large);
    --nine-accordion-title-bgColor: var(--shadow);
    --nine-accordion-header-bgColor: var(--shadow);
    --nine-accordion-content-bgColor: var(--whiteshadow);
    --nine-accordion-content-linkColor: #0000ff;
    /**/
    --loadingio-spinner-color: var(--green-shade);
    /**/
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    /**/
    --nine-border-radius-size: 1vh;
    /**/
    --nine-fileupload-bgColor: #ddd;
    --nine-fileupload-labelActive: #ccf;
    --nine-fileupload-labelInvalid: #a44;
    --nine-fileupload-labelValid: #4a4;
    /**/
    --nine-progress-bgColor: whiteSmoke;
    --nine-progress-boxShadow: rgba(0, 0, 0, 0.25);
    --nine-progress-barColor: blue;
    /**/
}
/**/
body {
    font-family: var(--fontfamily);
    background-color: var(--nine-bgColor);
    color: var(--nine-fontColor);
    background-image: url("../assets/bg.png?ver=1");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    touch-action:none;
    overscroll-behavior: contain;
}
/**/
.font-medium { font-size: var(--fontsize-medium) !important; }
.font-small { font-size: var(--fontsize-small) !important; }
.hidden { visibility: hidden !important; }
.nodisplay { display:none !important; }
.nopad { padding: 0 !important; }
.nowrap { white-space: nowrap !important; }
.wraps { white-space:normal !important; }

.hiddenDiv {
    position: absolute;
    top: -100vh;
    left: -100vw;
}
.banner {
    font-size: var(--nine-banner-fontSize);
    padding: 0;
    margin: 2vh 4vw;
}
/**/

/* FontAwesome compat */
.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em}
.fa-w-auto{width:auto;height:auto;}
.fa-h-100{width:auto;height:100%;}
.fa-w-100{width:100%;height:auto;}
.fa-w-14{width:.875em;height:auto;}
.fa-w-16{width:1em;height:auto;}
/**/

/**/
.nine-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--nine-bgColor);
    /* in mobile browser vh measures with address bar hidden, for our use case 100% is better */
    /* https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
    /* height: 100vh; */
    /* @media not all and (hover:hover) {
        height: 100%;
    } */
}
.nine-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/**/

/* Base Component */
nine-html {
    position: absolute;
    /*background-color: #daa520;*/
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
}
/**/

/* Button */
nine-button {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex:auto;
}
.nine-button {
    position: relative;
    background-color: var(--nine-button-bgColor);
    color: var(--nine-button-fontColor);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--nine-button-borderColor);
}
.nine-button > a {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    outline: none;
    text-decoration: none;
    color: var(--nine-button-fontColor);
}
.nine-button > a > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
/* .nine-button:hover:active { */
/* .nine-button:active { */
.nine-button-active {    
    background-color: var(--nine-button-clickColor)
}
/**/

/* File Upload*/
nine-file {
    position: relative;
    width: 92%;
    height: 100%;
}
.nine-file-upload {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    /**/
    /* border: 1px solid #AAA; */
    /* border-radius: 4px; */
    /* padding-left: 4px;
    padding-right: 4px;
    margin: 2px; */
    /**/
    background: var(--nine-fileupload-bgColor);
}
.nine-file-upload-label {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: absolute;
}
.nine-file-upload-label > input[type="file"] {
    position:absolute;
    display: none;
    top: -1000px;
}
.nine-file-upload-label > div {
    font-size: 10vb;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nine-file-upload-label:active {
    background: var(--nine-fileupload-labelActive);
}
.nine-file-upload-label :invalid + div {
    color: var(--nine-fileupload-labelInvalid);
}
.nine-file-upload-label :valid + div {
    color: var(--nine-fileupload-labelValid);
}
/**/

/* Navigate */
nine-navigate {
    visibility: hidden;
}
.nine-navigate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--nine-nav-ctl);
    font-size: var(--nine-nav-fontSize);
}
/**/
.nine-navigate .nine-navigate-head {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: var(--nine-nav-head);
}
.nine-navigate-head-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    color: var(--nine-nav-head-fontColor);
}
.nine-navigate-head-bar > div[type=title] > svg {
    position: relative;
    height: 100% !important;
    width: auto !important;
}
.nine-navigate-head-bar > div {
    position: relative;
    height: 100%;
    flex: 0 0 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.nine-navigate-head-bar > div[type=title] {
    flex: 6;
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 4vw;
    /* height: var(--nine-lineHeight); */
    /* max-height: var(--nine-lineHeight); */
}
.nine-navigate .nine-navigate-body {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: var(--nine-nav-body);
}
.nine-navigate .nine-navigate-body.nine-navigate-body-plus {
    height: 90%;
}
.nine-navigate .nine-navigate-foot {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: var(--nine-nav-foot);
}
.nine-navigate-foot-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: var(--nine-nav-footer-fontSize);
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    color: var(--nine-nav-foot-fontColor);
}
.nine-navigate-foot-bar > div {
    position: relative;
    height: 100%;
    flex: 0 0 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.nine-navigate-foot-bar > div[type=notice] {
    flex: 6;
    display: flex;
    justify-content: right;
    text-align: right;
    padding-right: 4vw;
    height: var(--nine-lineHeight-small);
    max-height: var(--nine-lineHeight-small);
    /* overflow-x:scroll; */
    /* white-space: nowrap; */
}
/**/
.nine-navigate .nine-navigate-body .nine-navigate-view {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.nine-navigate .nine-navigate-body .nine-navigate-view::-webkit-scrollbar {
    width: 1vw;
} 
.nine-navigate .nine-navigate-body .nine-navigate-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--nine-nav-scroll-shadow);
    box-shadow: inset 0 0 6px var(--nine-nav-scroll-shadow);
}
.nine-navigate .nine-navigate-body .nine-navigate-view::-webkit-scrollbar-thumb {
background-color: var(--nine-nav-scroll-bg);
outline: 1px solid var(--nine-nav-scroll-outline);
}
/**/

/* Panel */
nine-panel {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    visibility: hidden;
}
/* Panel - Right */
.nine-panel-right {
    position: absolute;
    /*
    top: 10vh;
    height: 80%;
    */
    top: 0;
    height: 100%;
    right: 0;
    width: 100%;
    visibility: hidden;
}
.nine-panel-right-open {
    visibility: visible;
}
.nine-panel-right .nine-panel-right-screen {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 20%; */
    width: 100%;
    height: 100%;
    background-color: var(--nine-panel-bg);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.nine-panel-right-screen-open {
    visibility: visible !important;
    opacity: 1 !important;
}
.nine-panel-right .nine-panel-right-body {
    position: absolute;
    top: 0;
    right: -90%;
    width: 80%;
    height: 100%;
    background-color: var(--nine-panel-bgColor);
    overflow-y: scroll;
    transition: all .3s ease-out;
}

.nine-panel-right .nine-panel-right-body::-webkit-scrollbar {
    width: 1vw;
} 
.nine-panel-right .nine-panel-right-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--nine-nav-scroll-shadow);
    box-shadow: inset 0 0 6px var(--nine-nav-scroll-shadow);
}
.nine-panel-right .nine-panel-right-body::-webkit-scrollbar-thumb {
background-color: var(--nine-nav-scroll-bg);
outline: 1px solid var(--nine-nav-scroll-outline);
}

.nine-panel-right-body-open {
    right: 0 !important;
}
/**/
/* Panel - Left */
.nine-panel-left {
    position: absolute;
    /*
    top: 10vh;
    height: 80%;
    */
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
}
.nine-panel-left-open {
    visibility: visible;
}
.nine-panel-left .nine-panel-left-screen {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: var(--nine-panel-bg);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.nine-panel-left-screen-open {
    visibility: visible !important;
    opacity: 1 !important;
}
.nine-panel-left .nine-panel-left-body {
    position: absolute;
    top: 0;
    left: -90%;
    width: 80%;
    height: 100%;
    background-color: var(--nine-panel-bgColor);
    overflow-y: scroll;
    transition: all .3s ease-out;
}

.nine-panel-right .nine-panel-left-body::-webkit-scrollbar {
    width: 1vw;
} 
.nine-panel-right .nine-panel-left-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--nine-nav-scroll-shadow);
    box-shadow: inset 0 0 6px var(--nine-nav-scroll-shadow);
}
.nine-panel-right .nine-panel-left-body::-webkit-scrollbar-thumb {
background-color: var(--nine-nav-scroll-bg);
outline: 1px solid var(--nine-nav-scroll-outline);
}

.nine-panel-left-body-open {
    left: 0 !important;
}
/**/

/* List (buttons) */
nine-list {
    position: absolute;
    width: 100%;
}
.nine-list-buttons {
    position: relative;
    list-style-type: none;
    margin: 1%;
    padding: 0;
    width: 98%;
    /* border: 1px solid var(--black); */
}
/**/
nine-list > li {
    position: relative;
    border-top: 1px solid var(--nine-list-borderColor);
    padding-left: 4%;
    /* padding-left: 4vw; */
    /* display: block; */
    display: flex;
    /* height: var(--nine-lineHeight); */
    min-height: var(--nine-lineHeight);
    vertical-align: middle;
    align-items: center;
    background-color: var(--nine-list-bgColor);
    border-radius: var(--nine-border-radius-size);
    /* display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
nine-list.list-settings > li {

    padding-bottom: 1%;
    border-radius: 0;
}
nine-list > li:first-child {
    border-top: 0px;
}
nine-list > li > a {
    display: block;
    width: 90%;
    height: 100%;
    outline: none;
    text-decoration: none;
    color: var(--nine-fontColor);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
nine-list > li > a::after {
    content: '>';
    position: absolute;
    right: 3vw;
}
nine-list > li.list-spacer {
    position: relative;
    border-top: 0;
    padding-left: 4%;
    display: flex;
    min-height: var(--nine-lineHeight);
    vertical-align: middle;
    align-items: center;
    background-color: transparent;
}
nine-list > li.list-button {
    position: relative;
    border-top: 0;
    padding-left: 4%;
    display: flex;
    min-height: var(--nine-lineHeight);
    vertical-align: middle;
    align-items: center;
    background-color: var(--nine-button-bgColor);
}
/**/

/* Progress */
nine-progress {
    position: absolute;
    width: 92%;
    height: 100%;
}
.nine-progress {
    background-color: var(--nine-progress-bgColor);
    border-radius: 2px;
    box-shadow: 0 2px 3px var(--nine-progress-boxShadow) inset;

    width: 100%;
    height: 100%;

    position: relative;
    display: block;
}
.nine-progress > span {
    background-color: var(--nine-progress-barColor);
    border-radius: 2px;
    height: 100%;
    width: 0%;
    display: block;
    text-indent: -9999px;
}
/**/

/* Popup */
.nine-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nine-popup-screen {
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
}
.nine-popup-view {
    position: absolute;
    top: 5vh;
    left: 3.5vh;
    width: 90vw;
    height: 90vh;
    background-color: var(--nine-bgColor);
}
/**/

/* Select */
nine-select {
    position: relative;
    top: 0;
    width: 96%;
    height: 100%;
}
.nine-select {
    position: relative;
    width: 96%;
    height: 100%;
    /* min-height: 8vh; */
    /* display: inline-block; */
}
.nine-select-label {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    /* border: 1px solid var(--select-border); */
    /* background-color: #fff; */
    /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
}
/* .nine-select-label::after {
    content: '>';
    position: absolute;
    right: 3vw;
} */
.nine-select-label > div {
    /* position: absolute;
    top: 0; */
    position: relative;
    width: 80%;
    height: 40%;
    color: var(--shadow);
    /* background-color: #4A4; */
    display: flex;
    font-size: 2.5vh;
}
.nine-select select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.nine-select-label > select {
    /* position: absolute;
    bottom: 0; */
    position: relative;
    font-size: var(--fontsize-large);
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
    display: flex;
    /* display: inline-block; */
    color: var(--nine-fontColor);
}
.nine-select-label > select > option {
    background-color: var(--shadow);
}
/**/

/* Accordion */
nine-accordion {
    position: relative;
    width:100%;
    height: 100%;
}
.nine-accordion {
    position: relative;
    width:100%;
    height: 100%;
    /* display: inline-block; */
    font-size: var(--nine-accordion-fontSize);
}
.nine-accordion-title {
    position: relative;
    /* border: 1px solid #fff; */
    /* padding: 2vh 5vw 2vh 2vw; */
    /* padding-left: 4vw;
    padding-right: 5vw; */
    background-color: var(--nine-accordion-title-bgColor);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: var(--nine-lineHeight);
}
/* nine-accordion * {
    visibility: hidden;
} */
/* nine-accordion >  */
.nine-accordion-title > div[type=header] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    /* padding: 2vh 5vw 2vh 2vw; */
    padding-top: 2vh;
    /* padding-bottom: 2vh; */
    padding-left: 4vw;
    padding-right: 5vw;
    background-color: var(--nine-accordion-header-bgColor);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: var(--nine-lineHeight);
}
/* nine-accordion >  */
.nine-accordion-title > div[type=header] > p {
    position: relative;
    width: 85%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nine-accordion-title::after {
    position: absolute;
    /* display: flex; */
    text-align: center;
    vertical-align: middle;
    right: 3vw;
    top: 35%;
    content: attr(data-content);
    font-family: var(--fontfamily);
    font-size: var(--nine-accordion-titleAfter-fontSize);
    /* display: inline-block;
    vertical-align: middle; */
}
.nine-accordion-content {
    position: relative;
    /* border: 1px solid #fff; */
    /* background-color: var(--whiteshadow); */
    background-color: var(--nine-accordion-content-bgColor);
    border-top: 0;
    height: 1px;
    padding: 0;
    overflow: hidden;
    /* max-height: 1px;
    transition: all 0.3s ease-out; */
    /* color: red; */
}
.nine-accordion-content > p {
    position: relative;
    padding: 0;
    margin: 2vh 4vw 2vh 2vw;
}
.nine-accordion-content a {
    display: inline;
    outline: none;
    text-decoration: none;
    color: var(--nine-accordion-content-linkColor);
}
.nine-accordion-content-show {
    padding: 2vw;
    height: auto;
    /* max-height: auto !important;
    transition: all 0.3s ease-in; */
}
/**/
:root {
    --nine-badge-font-color: #fff;
    --nine-badge-bg-color: #8e8e93;
    --nine-badge-font-weight: normal;
    --nine-badge-size: 1vh;
    --nine-badge-padding: 1vh 1vw;
    --nine-badge-font-size: var(--fontsize-exsmall);
}
.badge {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    color: var(--nine-badge-font-color);
    background: var(--nine-badge-bg-color);
    font-size: var(--nine-badge-font-size);
    padding: var(--nine-badge-padding);
    border-radius: var(--nine-badge-size);
    font-weight: var(--nine-badge-font-weight);
    min-width: var(--nine-badge-size);
    min-height: var(--nine-badge-size);
}
.badge[class*="color-"] {
    --nine-badge-bg-color: var(--nine-color);
    --nine-badge-font-color: var(--nine-color-font);
}
/**/


/**/
/* generated by https://loading.io/ */
@keyframes ldio-spinner-rolling {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loadingio-spinner-rolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    /* background: transparent; */
    background: var(--shadow);
}
.loadingio-spinner-rolling > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.loadingio-spinner-rolling > div > div {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    border: 20px solid var(--loadingio-spinner-color);
    border-top-color: transparent;
    border-radius: 50%;
    animation: ldio-spinner-rolling 1s linear infinite;
    box-sizing: content-box;
}
/**/
